body{background-image: url('../img/fondo2.png') }
.mt-5 {text-align: center;
    padding: 10px;
    width: 100%;
    height: 80vh;
    
  }
  
  .container {width: 100%;
    height: auto;
    padding: 20px}
  
  #imageninicio {width: 300px;
    height: auto;
  }
  
  button, .formulario__boton{
    background-color: rgb(252, 193, 84);
    border: solid 1px ;
    border-radius: 10px;
  }
  #cuadro {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

 #formulario__usuario, #formulario__contraseña {margin: 10px; width: 90%}
